<div class="grid grid-cols-1  lg:grid-cols-2 gap-4">
    <div>

        <canvas baseChart [data]="gamesChartData()" [type]="'line'" [options]="optionsGames('Parties mensuelles')"
            class="" [plugins]="plugins!">
        </canvas>
    </div>
    <div>

        <canvas baseChart [data]="gamesAccuChartData()" [type]="'line'" [options]="optionsGames('Parties totales')"
            class="" [plugins]="plugins!">
        </canvas>
    </div>
    <div>

        <canvas baseChart [data]="winrateChartData()" [type]="'line'" [options]="optionsWinrate('Winrate mensuel')"
            class="" [plugins]="plugins!">
        </canvas>
    </div>
    <div>
        <canvas baseChart [data]="winrateAccuChartData()" [type]="'line'" [options]="optionsWinrate('Winrate total')"
            class="" [plugins]="plugins!">
        </canvas>
    </div>


</div>