<!-- <p-panel header="Statistiques Commander"> -->

@if(ready|async){

<div class="grid">
    <div class="col-6">
        <app-global-stats></app-global-stats>
    </div>
    <div class="col-6">
        <app-lieu></app-lieu>
    </div>

    <div class="col-6">

        <app-table [stats]="perWinrate" sortField="winrate" [sortOrder]="-1"
            title="Par winrate (plus de 3 parties)"></app-table>
    </div>
    <div class="col-6">
        <app-table [stats]="perGames" sortField="games" [sortOrder]="-1" title="Nombre de parties"></app-table>
    </div>
</div>



}


<!-- </p-panel> -->