<div class=" grid xl:grid-cols-2 gap-4 m-4 ">

    <div class="">
        <app-global-stats></app-global-stats>
        <app-per-bracket></app-per-bracket>
    </div>
    <p-fieldset legend="Par lieu" class="" [toggleable]="true">
        <app-lieu></app-lieu>

    </p-fieldset>


    <p-fieldset legend="Par winrate (plus de 3 parties)" class="" [toggleable]="true">
        <app-bar-chart [chartData]="getBarChartData(perWinrate(),'winrate')"></app-bar-chart>
        <app-table [stats]="perWinrate()" sortField="winrate" [sortOrder]="-1"></app-table>
    </p-fieldset>


    <p-fieldset legend="Nombre de parties" class="" [toggleable]="true">
        <app-bar-chart [chartData]="getBarChartData(perGames(),'games')"></app-bar-chart>
        <app-table [stats]="perGames()" sortField="games" [sortOrder]="-1" legend="Nombre de parties"></app-table>
    </p-fieldset>
</div>