<p-card class="flex gap-4 mt-4 mx-4 mb-2">
    <div class="flex justify-center gap-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6">

        <input pInputText [(ngModel)]="this.settings.commanderName" type="text" name="filter" pSize="small"
            placeholder="Commander" />

        <!-- <p-iftalabel>
            <input pInputText [(ngModel)]="this.settings.commanderName" type="text" name="filter" pSize="small" />
            <label for="filter">Commander</label>
        </p-iftalabel> -->

        <p-selectbutton [options]="this.settings.brackets" [(ngModel)]="this.settings.bracketFilter" [multiple]="true"
            class="" optionValue="value" optionLabel="name" size="small" />

        <div class="flex gap-2">
            @for(year of config.years ;track year){
            <div class="flex items-center">
                <p-radiobutton name="year" [value]="year" [(ngModel)]="this.settings.currentYear" size="small" />
                <label pLabel for="year" class="text-sm ml-2">{{year}}</label>
            </div>
            }
        </div>

        <p-select [options]="this.lieux()" [(ngModel)]="this.settings.lieu" [multiple]="true" [showClear]="true"
            placeholder="Lieu"></p-select>

        <div>

            <button pButton (click)="settings.reset()" size="small">Reset</button>
        </div>
    </div>
</p-card>