<p-table [value]="stats" size="small" [sortField]="sortField" [sortOrder]="sortOrder" class="mt-2" scrollable="true">
    <ng-template #header>
        <tr>
            @if(commanderCol){
            <th pSortableColumn="title" class=" text-nowrap">
                <span>Commandeur</span>
                <p-sort-icon field="title" class="ml-1" />
            </th>
            }
            @else(){
            <th pSortableColumn="title" class="text-nowrap"><span>{{title}}</span>

                <p-sort-icon field="title" class="ml-1" />
            </th>
            }
            <th></th>

        </tr>
    </ng-template>
    <ng-template #body let-stat>
        <tr>
            @if(commanderCol){
            <td class="p-0">
                <div class="m-1">

                    <app-commander-title [commander]="stat.commander" avatarSize="small"></app-commander-title>
                </div>
            </td>
            }
            @else(){
            <td>{{ stat.title }}</td>
            }
            <td>

                <app-winrate-bar [stats]="stat" [max]="maxGames()"></app-winrate-bar>
            </td>
        </tr>
    </ng-template>
</p-table>