<p-table [value]="stats" size="small" showGridlines [sortField]="sortField" [sortOrder]="sortOrder" class="mt-4"
    scrollable="true">
    <ng-template #header>
        <tr>
            @if(commanderCol){
            <th pSortableColumn="title">
                <span class="invisible sm:visible">Commandeur</span>
                <span class="invisible max-sm:visible">Cmr</span>
                <p-sort-icon field="title" />
            </th>
            }
            @else(){
            <th pSortableColumn="title"><span>{{title}}</span>
                <span class="invisible max-sm:visible">Cmr</span>
                <p-sort-icon field="title" />
            </th>
            }
            <th pSortableColumn="games"><span class="invisible sm:visible">Parties</span>
                <span class="invisible max-sm:visible">Par.</span><p-sort-icon field="games" />
            </th>
            <th pSortableColumn="wins"><span class="invisible sm:visible">Gagnées</span>
                <span class="invisible max-sm:visible">G</span>
                <p-sort-icon field="wins" />
            </th>
            <th pSortableColumn="losses"><span class="invisible sm:visible">Perdues</span>
                <span class="invisible max-sm:visible">P</span>
                <p-sort-icon field="losses" />
            </th>
            <th pSortableColumn="winrate"><span class="invisible sm:visible"> Winrate</span>
                <span class="invisible max-sm:visible">W%</span>
                <p-sort-icon field="winrate" />
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-stat>
        <tr>
            @if(commanderCol){
            <td class="p-0">
                <div class="m-1">

                    <app-commander-title [commander]="stat.commander" avatarSize="small"></app-commander-title>
                </div>
            </td>
            }
            @else(){
            <td>{{ stat.title }}</td>
            }
            <td>{{ stat.games }}</td>
            <td>{{ stat.wins }}</td>
            <td>{{ stat.losses }}</td>
            <td>{{ stat.winrate |percent}}</td>
        </tr>
    </ng-template>
</p-table>