.layout-topbar {
    text-align: center;

    padding-bottom: 5px;
    margin-bottom: 15px;
    z-index: 1100;
    transition: background-color .15s;
    border-bottom: 1px solid white;
    font-size: 1.5rem;
}