@if(globals|async){

<p-fieldset legend="Stats globales" [toggleable]="true">

    <div class="grid grid-cols-3 gap-4 m-4">
        <div class="col-span-1">
            <app-pie [data]="(globalsCurrentYear|async)!" class="m-2"></app-pie>
            <span class="text-l font-bold center pt-4">{{ currentYear() }}</span>
        </div>
        <div class="col-span-2 pt-10">

            <p-table [value]="(globalsAsArray|async)!" size="small" showGridlines orderable="true" [sortField]="'title'"
                [sortOrder]="-1">
                <ng-template #header>
                    <tr>
                        <th>Année</th>
                        <th>Parties</th>
                        <th>Gagnées</th>
                        <th>Perdues</th>
                        <th>Winrate</th>
                    </tr>
                </ng-template>
                <ng-template #body let-stat>
                    <tr (click)="setCurrentYear(stat.title)" [class.current-year]="stat.title === currentYear()">

                        <td>
                            @if(stat.title == currentYear()){
                            *
                            }
                            {{ stat.title }}
                        </td>
                        <td>{{ stat.games }}</td>
                        <td>{{ stat.wins }}</td>
                        <td>{{ stat.losses }}</td>
                        <td>{{ stat.winrate |percent}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-fieldset>
}