@if(globals|async){

<p-fieldset legend="Stats globales" [toggleable]="true">

    <div class="grid lg:grid-cols-3 gap-2">
        <div class="col-span-1">

            <app-pie-chart [data]="(globalsCurrentYear|async)!" class=""></app-pie-chart>
            <span class="text-l font-bold center pt-4">{{ currentYear() }}</span>
        </div>
        <div class=" col-span-2">

            <p-table [value]="(globalsAsArray|async)!" size="small" showGridlines orderable="true" [sortField]="'title'"
                [sortOrder]="-1" [scrollable]="true">
                <ng-template #header>
                    <tr>
                        <th>Année</th>
                        <th>Parties</th>
                        <th>Gagnées</th>
                        <th>Perdues</th>
                        <th>Winrate</th>
                    </tr>
                </ng-template>
                <ng-template #body let-stat>
                    <tr (click)="setCurrentYear(stat.title)" [class.current-year]="stat.title === currentYear()">

                        <td class="flex items-center gap-1">
                            <p-radiobutton [(ngModel)]="currentYear" [value]="stat.title" />
                            <span class="ml-1">
                                {{stat.title}}
                            </span>

                        </td>
                        <td>
                            <div class="flex items-center gap-1">
                                {{ stat.games }}
                                @if(stat.gamesMovement!=undefined){
                                @if(stat.gamesMovement){
                                <svg data-p-icon="arrow-up-right"></svg>
                                }@else{
                                <svg data-p-icon="arrow-down-right"></svg>
                                }
                                }
                            </div>

                        </td>

                        <td>
                            <div class="flex items-center gap-1">
                                {{ stat.wins }}
                                @if(stat.winMovement!=undefined){
                                @if(stat.winMovement){
                                <svg data-p-icon="arrow-up-right"></svg>
                                }@else{
                                <svg data-p-icon="arrow-down-right"></svg>
                                }
                                }
                            </div>

                        </td>

                        <td>
                            <div class="flex items-center gap-1">
                                {{ stat.losses }}
                                @if(stat.lossMovement!=undefined){
                                @if(stat.lossMovement){
                                <svg data-p-icon="arrow-up-right"></svg>
                                }@else{
                                <svg data-p-icon="arrow-down-right"></svg>
                                }
                                }
                            </div>

                        </td>

                        <td>
                            <div class="flex items-center gap-1">
                                {{ stat.winrate |percent }}
                                @if(stat.winrateMovement!=undefined){
                                @if(stat.winrateMovement){
                                <svg data-p-icon="arrow-up-right"></svg>
                                }@else{
                                <svg data-p-icon="arrow-down-right"></svg>
                                }
                                }
                            </div>

                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-fieldset>
}