<div id="{{commander().commander}}" class="flex flex-row gap-2">
    <div class="">
        @if(commander().url){
        <a [routerLink]="['/commander',commander().commander]">
            <p-overlay-badge [value]="commander().bracket" [severity]="bracketSeverity(commander().bracket)">
                <p-avatar [image]="commander().url" shape="circle" [class]="avatarCss">

                </p-avatar>
            </p-overlay-badge>
        </a>
        }
    </div>
    <div class="flex flex-col gap-1 ml-2">
        <div class="flex flex-row items-center gap-2">
            <a [routerLink]="['/commander',commander().commander]">
                <div>
                    <span class="text-md font-semibold"> {{ commander().commander }}</span>
                </div>
            </a>
            <span>
                <app-mana [manaString]="commander().colors"></app-mana>
            </span>
            @if(commander().decklist){
            <div>
                <a [href]="commander().decklist" target="_blank"><svg data-p-icon="external-link" pTooltip="Moxfield"
                        alt="moxfield"></svg></a>
            </div>
            }
        </div>

        <div class="flex flex-row items-center gap-2">
            @for(theme of commander().themes; track theme){
            <p-tag>{{theme}}</p-tag>
            }

        </div>


    </div>