<div class="grid grid-cols-2 gap-4 m-4">

    @if(commanders|async){
    <p-table [value]="(commanders|async)!" size="small" showGridlines orderable="true" [sortField]="'commander'"
        [sortOrder]="1">
        <ng-template #header>
            <tr>
                <th>Commander</th>
                <th>Début</th>
                <th>Fin</th>
            </tr>
        </ng-template>
        <ng-template #body let-cmr>
            <tr class="p2">
                <td class="m2">
                    <div class="flex items-center gap-2">
                        @if(cmr.url){
                        <p-avatar [image]="cmr.url" shape="circle" />
                        }
                        <span class="text-sm"> {{ cmr.commander }}</span>
                    </div>
                </td>
                <td>{{ cmr.debut }}</td>
                <td>{{ cmr.fin }}</td>
            </tr>
        </ng-template>
    </p-table>
    }
</div>