/* You can add global styles to this file, and also import other style files */


@import 'tailwindcss';
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';


@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;


    --color-w: #ffdf20;
    --color-u: #53eafd;
    --color-b: #c4b4ff;
    --color-r: #ffa2a2;
    --color-g: #7bf1a8;


}

@layer app-style {

    :root {
        --p-panel-title-font-size: small;
        --p-tag-gap: 0;
    }


}