<p-card header="{{title}}">

    <p-table [value]="stats" size="small" showGridlines [sortField]="sortField" [sortOrder]="sortOrder">
        <ng-template #header>
            <tr>
                <th>Commander</th>
                <th>Games</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Winrate</th>
            </tr>
        </ng-template>
        <ng-template #body let-stat>
            <tr>
                <td>
                    <div class="flex items-center gap-2">
                        <p-avatar [image]="stat.commander.url" shape="circle" />
                        <span class="text-sm"> {{ stat.commander.commander }}</span>
                    </div>
                </td>
                <td>{{ stat.games }}</td>
                <td>{{ stat.wins }}</td>
                <td>{{ stat.losses }}</td>
                <td>{{ stat.winrate |percent}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>